* {
    font-family:'Times New Roman', Times, serif;
    color: purple;
    background-color:ghostwhite;
}

body {
    margin: 0 0 3px 0;
}

.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1, nav {
    background-color: orange;
}

nav a {
    display: inline;
    background-color: orange;
    font-size: 18px;
    margin: 3px;
}

img {
    margin-top: 20px;
}